  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 350px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead div.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .ui.vertical.stripe {
    padding: 2em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 2em;
  }
  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.1em;
    text-align: justify;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
  }

  .quote.stripe.segment {
    padding: 0em;
  }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0em;
  }
  
  .secondary.menu .toc.item {
    display: none;
  }

  .top.fixed.menu .toc.item {
    display: none;
  }


  @media only screen and (max-width: 700px) {
    .top.fixed.menu .item,
    .top.fixed.menu .menu,
    .secondary.menu .item,
    .secondary.menu .menu {
      display: none;
    }
    .top.fixed.menu .toc.item,
    .secondary.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
  .ui.statistic>.label, .ui.statistics .statistic>.label {
    font-size: 0.5em;
  }
  .ui.vertical.segment {
    border-bottom: 0px;
  }

  @media only screen and (max-width: 700px) {
    .escondenocelular {
      display: none !important;
    }
  }

  @font-face {
    font-family: "Galaxie Polaris Light";
    src: url("font/Polaris-Light.otf") format("opentype");
  }

  @font-face {
    font-family: "Galaxie Polaris Book";
    src: url("font/Polaris-Book.otf") format("opentype");
  }

  @font-face {
    font-family: "Galaxie Polaris Bold";
    src: url("font/Polaris-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "Caecilia Light";
    src: url("font/CaeciliaLTPro-45Light.otf") format("opentype");
  }

  @font-face {
    font-family: "Caecilia Book";
    src: url("font/CaeciliaLTPro-55Roman.otf") format("opentype");
  }

  @font-face {
    font-family: "Caecilia Bold";
    src: url("font/CaeciliaLTPro-75Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "LBel script";
    src: url("font/LBelScript.otf") format("opentype");
  }

  .fontgp1 {
    font-family: "Galaxie Polaris Light"!important;
  }
  .fontgp2 {
    font-family: "Galaxie Polaris Book"!important;
  }
  .fontgp3 {
    font-family: "Galaxie Polaris Bold"!important;
  }

  .fontc1 {
    font-family: "Caecilia Light"!important;
  }
  .fontc2 {
    font-family: "Caecilia Book"!important;
  }
  .fontc3 {
    font-family: "Caecilia Bold"!important;
  }

  .fontb {
    font-family: "LBel script"!important;
  }

  .fundo0 {
    background-color: rgb(255, 255, 255)!important;
  }
  .fundo1 {
    background-color: rgb(0, 164, 161)!important;
  }
  .fundo2 {
    background-color: rgb(0, 67, 134)!important;
  }
  .fundo3 {
    background-color: rgb(75, 46, 104)!important;
  }
  .fundo4 {
    background-color: rgb(208, 187, 126)!important;
  }

  .cor0 {
    color: rgb(255, 255, 255)!important;
  }
  .cor1 {
    color: rgb(0, 164, 161)!important;
  }
  .cor2 {
    color: rgb(0, 67, 134)!important;
  }
  .cor3 {
    color: rgb(75, 46, 104)!important;
  }
  .cor4 {
    color: rgb(208, 187, 126)!important;
  }

  .gradiente {
    background-color: #4B2E68; /* Old browsers */
    background: url(img/lbel_img_elemento_gradiente.png), -moz-linear-gradient(top, #4B2E68 0%, #FFFFFF 100%); /* FF3.6-15 */
    background: url(img/lbel_img_elemento_gradiente.png), -webkit-linear-gradient(top, #4B2E68 0%,#FFFFFF 100%); /* Chrome10-25,Safari5.1-6 */
    background: url(img/lbel_img_elemento_gradiente.png), linear-gradient(to bottom, #4B2E68 0%,#FFFFFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-position: left top;
    background-repeat: no-repeat;
    color: #FFF;
    padding: 24px 24px 72px;
  }

  .elemento1 {
    background: url(img/lbel_img_elemento_001.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 32px;
  }

  .elemento2 {
    background: url(img/lbel_img_elemento_002.png);
    background-position: right top;
    background-repeat: no-repeat;
    padding-right: 32px;
  }

  .elemento3 {
    background: url(img/lbel_img_elemento_003.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 32px;
  }

  .elemento4 {
    background: url(img/lbel_img_elemento_004.png);
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 32px;
  }
