(:static function render(hideCel : Bool = false) :)
<a class="item fontgp2 (:if hideCel :)escondenocelular(:end:)" href="/#inicio">Conheça</a>
<a class="item fontgp2 (:if hideCel :)escondenocelular(:end:)" href="/#detalhes">Entenda</a>
<a class="item fontgp2 (:if hideCel :)escondenocelular(:end:)" href="/#facilidades">Facilite</a>
<a class="item fontgp2 (:if hideCel :)escondenocelular(:end:)" href="/novo">Solicite</a>
(:end:)
